* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
   background-color:  #FFF8DE;
   padding: 0 !important;
  
}

.navbar-nav li {
   padding: 0 10px;
}
/* .navbar-nav li a{
    color: rosybrown !important;
    font-weight: 600;
    float: right;
} */

nav.navbar ul.navbar-nav .custom-css-link {
    color: rosybrown;
    font-weight: 600;
    float: right;
}

#hero-banner {
    background-color:  #FFF8DE;
    color: rosybrown;
    padding-top: 5%;
}

.banner-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
}

section {
    height:100vh;

}

section:nth-of-type(even) {
    background-color: burlywood;
}