*{
    font-family: 'Arima Madurai', cursive;
}

body {
    background-color: #C0E9EF;

}

nav {
    padding: 10px;
    /* display: flex; */
   
}

nav ul {
    /* align-items: flex-end; */
    /* text-align: right; */
}

/* footer {
    background-color: black;
    color:  #C0E9EF;
    */

footer {
    background-color: black;
    color: #C0E9EF;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 0;
    
}

.wrapper {
    margin-top: 20px;
}