*{
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color:  #001842;
}
.mage {
    color: rosybrown;
}
.wrapper {
    margin: 0 auto;
    max-width:1400px;
}

nav ul {
    justify-content: end;
}
.card {
   
    margin-bottom: 50px;
    text-align: center;
}

.hp-banner ::before {
    content: "";
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index: -1;
   
    
}

.hp-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./home-story-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    margin-bottom: 20px;
    min-height: 400px;
   
    z-index: 1;

    
   
   
    
}

.hp-description {
    text-align: center;
    color: mistyrose;
   

}

.rating {
    color: #0072BD;
}

footer {
    background-color: black;
    color:mistyrose;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 0;
    width: 100%;
    
}
/* .container {
    display: flex;
    color: blanchedalmond;
    position: relative;
}

.banner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.banner img {
    background: no-repeat center top;
    box-sizing: border-box;
    background-size: cover;
    width: 100%;
} */

/* .banner h2 {
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */

