.flex-wrapper {
    display: flex ;
   justify-content: space-between; 
   flex-wrap: wrap;

  
}

.flex-wrapper > div {
    background-color: rosybrown;
    color: wheat;
    padding: 25px;
    margin: 10px;
    font-size: 20px;
}

/* wrap - overflow  */
/* justify-content: flex-start (left); */
/* justify-content:s center; */
/* justify-content: flex-end (right; */
 /* justify-content: space-around; (mas closer sa center)*/
 /* justify-content: space-between (closer sa dulo);  */